.paginationButtonsLight {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 245px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
}

.paginationButtonsDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 245px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.paginationButton {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.paginationPageNum {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #313037;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.paginationPageNum.active {
  color: #6C1BDB;
}

.paginationPageNum:hover, .paginationButton:hover {
  color: #6C1BDB;
}

.paginationButtonInfoLight, .paginationButtonInfoDark {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 11px;
  cursor: pointer;
}

.paginationButtonInfoDark div {
  color: #fff;
}

.paginationButtonInfoDark div:hover {
  color: #6C1BDB;
}

.paginationPageNums {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  cursor: pointer;
}

.paginationButton._inactive {
  pointer-events: none;
  border-color: gray;
  color: gray;
}

.paginationButton._active {
  color: #6C1BDB;;
}

.paginationButton._lastPage {
  display: none;
  pointer-events: none;
}

.paginationButton._lastPageSoon, .paginationButton._lastPageSoon-1, 
.paginationButton._lastPageSoon-2, .paginationButton._lastPageSoon-3 {
  display: none;
}

@media only screen and (max-width: 1440px) {
  .paginationButtonsLight, .paginationButtonsDark {
    gap: 190px;
  }
}

@media only screen and (max-width: 1024px) {
  .paginationButtonsLight, .paginationButtonsDark {
    gap: 130px;
    font-size: 10px;
  }

  .paginationButtonInfoLight, .paginationButtonInfoDark {
    gap: 7px;
    font-size: 10px;
  }

  .paginationButtonInfoLight img, .paginationButtonInfoDark img {
    width: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .paginationButtonsLight, .paginationButtonsDark {
    gap: 90px;
    font-size: 10px;
  }
}

@media only screen and (max-width: 320px) {
  .paginationButtonsLight, .paginationButtonsDark {
    gap: 15px;
    font-size: 10px;
  }

  .paginationButtonInfoLight div, .paginationButtonInfoDark div{
    display: none;
  }

  .paginationButtonInfoLight, .paginationButtonInfoDark {
    gap: 3px;
  }

  .paginationButton.three, .paginationButton.four {
    display: none;
  }
}