.title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    padding-left: 21%;
    background: rgba(49, 48, 55, 0.1);
}

.postsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 21%;
    gap: 20px;
    row-gap: 40px;
    background: rgba(49, 48, 55, 0.1);
}

.postsLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 48, 55, 0.1);
    height: 100vh;
    width: 100wh;
}