.postWrapper {
    width: 352px;
    height: 388px;
    border-radius: 16px;
    background: #fff;
}

.postImg {
    width: 352px;
    height: 208px;
    border-radius: 16px;
    margin-bottom: 32px;
    position: relative;
    object-fit: cover;
}

.postImg::before {
    position: absolute;
    z-index: 10;
    content: '';
    background: linear-gradient(rgba(77, 10, 199, 0.6), rgba(145, 46, 242, 0.6));
}

.postInfo {
    padding: 0 32px 32px 32px;
}

.postData {
    margin-bottom: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(49, 48, 55, 0.5);
}

.postTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #313037;
}