.postWrapper {
    width: 18vw;
    height: 70vh;
    border-radius: 16px;
    background: #fff;
}

.postImg {
    width: 18vw;
    height: 30vh;
    border-radius: 16px;
    margin-bottom: 32px;
}

.postInfo {
    padding: 0 32px 32px 32px;
}

.postData {
    margin-bottom: 8px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(49, 48, 55, 0.5);
}

.postTitle {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #313037;
}