.header {
    height: 96px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    background-color: #fff;
}

.header img {
    height: 6vh;
    cursor: pointer;
}

.header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #313037;
    width: 5vw;
}

.headerSearch {
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 2rem;
}

.headerSignIn {
    display: flex;
    align-items: center;
}

.headerAuthUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 34px;
    color: #313037;
}