.light {
    background-color: rgba(49, 48, 55, 0.1);
    transition: 0.5s;
}

.dark {
    background: #313037;
    transition: 0.5s;
}


/* Footer */
.footerTextLight {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(49, 48, 55, 0.5);
}

.footerTextDark {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}